@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import url(//fonts.googleapis.com/css?family=Poiret+One);

// 2. Include any default variable overrides here
$primary: #086375 !default;
$secondary: #A8DADC ;
$danger: #C14953;
$warning: #FFF689;
$font-family-base: 'Poiret One';
$font-size-base: 2rem;
$link-color: $primary;
$body-bg: #ede6f2b7;
$carousel-transition-duration: .2s;
$carousel-control-width: 15%;
// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    overflow-x: hidden;
}
.carousel-inner {
    min-height: 200px;
}
// Carousel custom styles
.carousel-item {
    width: 100% - 2*$carousel-control-width;
    background-color: #f2edf5;
    margin-right: 0px;
    &.active,
    &.carousel-item-next.carousel-item-start,
    &.carousel-item-prev.carousel-item-end {
        z-index: -1 !important;
        margin-left: $carousel-control-width;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
    }
}

$font-logo: 'Amatic SC';